.wrapper {
  height: 100%; }
  .wrapper .wrapper-inner {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: initial; }
    .wrapper .wrapper-inner .sidebar-container {
      overflow: hidden;
      height: 100%; }
    .wrapper .wrapper-inner .main-container {
      overflow: scroll;
      flex: 1;
      background: #FAFBFD; }

.content-closed {
  display: none; }

.sidebar {
  font-family: 'GothamHTF';
  letter-spacing: 0.08em;
  font-size: 12px;
  color: #AAADB3;
  position: relative;
  width: 280px;
  flex: 0 0 280px;
  height: 100%;
  min-height: 950px;
  background: #575C61;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  top: 0;
  bottom: 0; }
  .sidebar .fa-bars, .sidebar .material-icons {
    color: #FFF;
    font-size: 22px;
    position: absolute;
    top: 35px;
    right: 28px; }
  .sidebar.closed {
    width: 100px;
    flex: 0 0 100px; }
    .sidebar.closed .content {
      display: none;
      height: 100%; }
    .sidebar.closed .content-closed {
      display: block; }
    .sidebar.closed .fa-bars, .sidebar.closed .material-icons {
      color: #1FC7C8;
      right: 41px; }
  .sidebar .app-logo-container {
    position: absolute;
    bottom: 30px;
    left: 30px; }
    .sidebar .app-logo-container img {
      width: 39px;
      padding-right: 10px; }
  .sidebar .avatar-dropdown {
    margin: 25px 25px 10px 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(225, 227, 230, 0.2); }
  .sidebar .avatar-container {
    height: 40px;
    padding-bottom: 20px; }
    .sidebar .avatar-container img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%; }
  .sidebar a {
    font-family: 'GothamHTF';
    letter-spacing: 0.08em;
    color: #AAADB3;
    font-size: 12px;
    font-weight: 400; }
    .sidebar a:hover {
      color: #FFFFFF; }
  .sidebar .nav-pills .nav-link {
    line-height: 40px;
    border-radius: 0;
    padding: 10px 25px; }
    .sidebar .nav-pills .nav-link.nav-parent {
      line-height: 20px;
      margin: 10px 0; }
  .sidebar .nav-pills .nav-parent {
    font-size: 11px;
    border-left: 3px solid transparent;
    text-transform: uppercase; }
    .sidebar .nav-pills .nav-parent.nav-link.active {
      background: #575C61;
      border-left: 4px solid #9A7AFF; }
  .sidebar .nav-pills .nav-children {
    padding: 15px 20px;
    background: #45484C; }
    .sidebar .nav-pills .nav-children .nav-link.active {
      /* Rectangle 3: */
      background: rgba(199, 181, 254, 0.2);
      border-radius: 4px;
      color: #C7B5FE; }

.add-test {
  margin-bottom: 20px; }

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px; } }
.dropdown.dark::before {
  border-bottom: 10px solid #575C61; }
.dropdown.dark .dropdown-menu {
  background: #575C61; }
  .dropdown.dark .dropdown-menu .dropdown-header {
    color: #AAADB3; }
  .dropdown.dark .dropdown-menu .dropdown-item {
    color: #AAADB3;
    border-bottom: 1px solid rgba(225, 227, 230, 0.2); }
    .dropdown.dark .dropdown-menu .dropdown-item:hover {
      color: #FFFFFF;
      background: #575C61; }
  .dropdown.dark .dropdown-menu::before {
    border-bottom: 10px solid #575C61; }
.dropdown .dropdown-menu {
  /* Rectangle 4: */
  border: none;
  background: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-family: GothamHTF;
  width: 230px;
  margin-top: 10px; }
  .dropdown .dropdown-menu .dropdown-header {
    /* Company Admin: */
    font-family: GothamHTF;
    font-size: 11px;
    color: rgba(40, 43, 47, 0.4);
    letter-spacing: 0.39px;
    text-transform: uppercase;
    padding: 15px 30px; }
  .dropdown .dropdown-menu .dropdown-item {
    /* Account: */
    font-family: GothamHTF;
    font-size: 12px;
    font-weight: 500;
    color: rgba(40, 43, 47, 0.6);
    letter-spacing: 0.43px;
    line-height: 59px;
    padding: 0 30px;
    width: 170px;
    /* col: */
    border-bottom: 1px solid rgba(225, 227, 230, 0.7);
    cursor: pointer; }
    .dropdown .dropdown-menu .dropdown-item:last-child {
      border-bottom: none; }
  .dropdown .dropdown-menu::before {
    border-bottom: 10px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    top: -10px;
    position: absolute;
    z-index: 9999; }
.dropdown .avatar-container {
  height: 40px; }
  .dropdown .avatar-container.btn-secondary {
    /* Downloads: */
    font-family: GothamHTF-Medium;
    font-size: 11px;
    color: #AAADB3;
    letter-spacing: 0.39px;
    border-color: transparent;
    padding: 0;
    width: 230px;
    text-align: left;
    border: none;
    margin: 0;
    box-shadow: none;
    background: none; }
    .dropdown .avatar-container.btn-secondary:hover, .dropdown .avatar-container.btn-secondary:focus {
      background: none;
      outline: none;
      border: none;
      box-shadow: none; }
  .dropdown .avatar-container img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%; }

/*# sourceMappingURL=styles.css.map */
